/* Reset */
body {
  margin: 0;
  padding: 0;
}

/* Grid layout Mobile-First */
main {
  display: grid;
  grid-template-rows: 9vh auto 7vh 7vh;
  grid-template-columns: 100vw;
  gap: 2em 0;
  grid-template-areas: 
  "nav"
  "menulist"
  "soon"
  "footer";
}
#menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu{
  flex-basis: 80%;
}

/* Responsive system (breakpoints) */

@media only screen and (min-width: 500px) {
  /* For tablets: */
  .menu {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 900px) {
  /* For desktop: */
  .menu {
    flex-basis: 20%;
  }
}