/* Reset */
body {
  margin: 0;
  padding: 0;
}

/* Grid layout Mobile-First */
#menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu{
  flex-basis: 80%;
}

/* Responsive system (breakpoints) */

@media (max-width: 800px) {
  /* S */
#soon{
  width: 80% ;
}
}
@media only screen and (min-width: 600px) {
  /* M */
  .menu {
    flex-basis: 40%;
  }
  #soon{
    width: 50% ;
  }
}

@media only screen and (min-width: 1200px) {
  /* L */
  .menu {
    flex-basis: 20%;
  }
  #soon{
    width:33% ;
  }
}
