/* Reset */
body {
  margin: 0;
  padding: 0;
}

/* Grid layout Mobile-First */
main {
  display: grid;
  grid-template-rows: 9vh auto 7vh 7vh;
  grid-template-columns: 100vw;
  gap: 2em 0;
  grid-template-areas: 
  "nav"
  "menulist"
  "soon"
  "footer";
}
#menu-list {
  grid-area: menulist;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 1em;
}
nav {
  grid-area: nav;
}
footer {
  grid-area: footer;
}
article {
  grid-column:1fr ;
}
#soon {
  grid-area: soon;
}

/* Responsive system (breakpoints) */
