@import url("../../commons.css");
@import url("../commons_menus.css");
@font-face {
  font-family: "Devonshire";
  src: url("../../font/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Tillana";
  src: url("../../font/Tillana-Regular.ttf");
}
.sep {
  background: url(sep.jpg) no-repeat;
  height: 10px;
  width: 25%;
  background-size: contain;
}
#title,
#foot {
  font-family: "Devonshire";
}
section .sep:last-child{
  transform: scaleX(-1);
}
#title h1 {
  font-size: 2.5em;
  margin: 0;
}
.category,
p {
  font-family: "Tillana";
}
article {
  color: #3d1319;
  background-color: #fee1dd;

}
#foot {
  margin-top: 10px;
}

/* Anims */
.category:after {
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease;
  background-color: #3d1319;
}
.category:hover:after {
  width: 100%;
}
