#menu > article {
  background-color: #fcdfdb;
  display: grid;
  grid-template-rows: minmax(10px, 70px) repeat(3, auto);
  grid-template-columns: auto;
  justify-items: center;
  margin: 5% 15%;
  grid-template-areas:
    "logo"
    "title"
    "entree"
    "dish"
    "dessert"
    "footer";
}
article > img {
  max-width: 70px;
}
article > section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 0 20px;
}
article > section p {
  font-size: 11px;
}
article > section h1 {
  grid-column: span 2;
  justify-self: center;
}
article > section h1::before {
  content: '';
  width:10px;
  background-color: blue;
  display: block;
}
